.fade-text {
  opacity: 1;
  position: fixed;
  top: 10vh;
  left: 50%;
  width: 60vw;
  height: 10vh;
  transform: translateX(-50%);
  background-color: var(--tertiary-color);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-text.hidden {
  opacity: 0;
}

.fade-text.visible {
  opacity: 1;
  visibility: visible;
}