.my-btn-login {
  position: absolute;
  top: 2vh;
  right: 5vw;
  background-color: var(--elegant-background-color);
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.my-btn-login i {
  font-size: 22px;
}

.my-btn-login img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}