.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--text-color);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  animation: l2 1.5s infinite linear;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  animation: inherit;
  animation-delay: -0.5s;
}

.loader:after {
  animation-delay: -1s;
}

@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}