/* Solo per le righe di lobby */

.player-img {
  width: auto;
  height: auto;
  max-width: 15vw;
  max-height: 15vw;
  object-fit: contain;
  border-radius: 50%;
}

.player-name {
  font-weight: bold;
  font-size: 3.5vw;
  color: #d4d4d4;
  text-align: center;
  flex-basis: 33%;
}

.player-status {
  size: 15vw 10vw;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-basis: 40%;
}

.status-pill {
  padding: 2vw 4vw;
  font-size: 3vw;
  border-radius: 2vw;
  color: #fff;
  text-align: center;
  width: 100%;
}

.players-list {
  display: flex;
  flex-direction: column;
}

.player-item {
  display: flex;
  align-items: center;
  /*background-color: #787878;*/
  padding: 1vw 2vw;
  border-radius: 2vw;
  /*box-shadow: 0 0.8vw 1.2vw rgba(0, 0, 0, 0.1);*/
  color: #fff;
}

.player-image {
  flex-shrink: 0;
  flex-basis: 20%;
}

.lobby-button-group {
  display: flex;
  justify-content: space-between;
}

.lobby-button-group button {
  width: 47%;
}