/* Solo per le righe di lobby */

.my-table-players td:first-child {
  width: 17%;
  text-align: left;
}

.my-table-players td:nth-child(2) {
  width: 46%;
  text-align: center;
}

.my-table-players td:nth-child(3) {
  width: 37%;
  text-align: right;
}

.player-img {
  width: auto;
  height: auto;
  max-width: 20vw;
  max-height: 20vw;
  object-fit: contain;
  border-radius: 5px;
}

.player-name {
  font-weight: bold;
  font-size: 3.5vw;
}

.player-status .badge {
  padding: 0.5em 1em;
  font-size: 1em;
}

.status-pill {
  padding: 1.5vw 4vw;
  font-size: 2vw;
  text-align: center;
  border-radius: 16px !important;
}