/* Set the cursor to pointer for clickable rows */
.lobby-row {
  cursor: pointer;
}

/* Style for the status indicator */
.status-indicator {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  margin: auto;
}

/* Color for waiting (not started) status */
.status-indicator.waiting {
  background-color: var(--success-color);
  /* Green */
}

/* Color for started status */
.status-indicator.started {
  background-color: var(--error-color);
  /* Orange */
}