/* Contenitore principale */
.image-container {
  display: grid;
  /* justify-content: center; */
}

/* Righe per le immagini */
.image-row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4vw;
  row-gap: 5vw;
}

/* Colonne per le immagini */
.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20.6vw;
}

/* Stile delle immagini */
.image-thumbnail {
  height: 20vw;
  width: 20vw;
  border-radius: 20%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, border-color 0.2s;
}

/* Hover su immagini */
.image-thumbnail:hover {
  transform: scale(1.1);
  /* Ingrandisce leggermente l'immagine al passaggio del mouse */
}

/* Immagine selezionata */
.selected {
  border: 3px solid var(--tertiary-color);
}