@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html,
body,
#root {
  font-family: 'Sora', serif;
  height: 100%;
  color: var(--text-color);
}

.paginator {
  padding: 4vh 10vw 0vh 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.navbar-page {
  padding-bottom: 9vh;
}

.elegant-background {
  background-color: var(--elegant-background-color);
  border-radius: 10px;
  padding: 2vh 5vw 2vh 5vw;
  display: block;
}

.fill {
  flex: 1;
}

.scrollable {
  overflow-y: scroll;
}

/********************/
/* Basic components */
/********************/

/* Input */

.my-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.fill-input {
  width: 100%;
}

.stretch {
  width: 30%;
}

.btn-change-value {
  padding: 0;
  border: 0;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: none;
  font-size: 35px;
}



.table {
  border-collapse: collapse;
  margin: 0 auto;
  display: table;
  width: 100%;
}

.table td {
  border: none;
}


/* tabella per elencare i game */

.table-games td {
  padding: 20px 10px;
}

.table-games td:first-child {
  width: 27%;
  text-align: left;
}

.table-games td:nth-child(2) {
  width: 50%;
  text-align: center;
}

.table-games td:nth-child(3) {
  width: 23%;
  text-align: right;
}