@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Rimozione stile standard */
button:focus,
input:focus {
  outline: none;
}

html,
body,
#root {
  font-family: 'Sora', serif;
  height: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
}

input,
button {
  color: var(--text-color);
}

/* Stile normale del placeholder */
input::placeholder {
  color: var(--text-color);
}

.paginator {
  padding: 4vh 10vw 4vh 10vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.elegant-background {
  background-color: var(--elegant-background-color);
  border-radius: 10px;
  padding: 2vh 5vw;
  display: block;
}

.fill {
  flex: 1;
}

.scrollable {
  overflow-y: scroll;
}

.flex {
  display: flex;
}

/********************/
/* Basic components */
/********************/

/* Input */

.my-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.form-floating {
  position: relative;
  padding-top: 3vh !important;
}

/* Quando l'input è in focus o ha un valore */
.my-input:focus::placeholder,
.my-input:not(:placeholder-shown)::placeholder {
  color: transparent;
}

.my-input:focus+.my-label,
.my-input:not(:placeholder-shown)+.my-label {
  top: -2.1vh;
  /* La label si sposta verso l'alto in vh */
  color: var(--text-color);
}

.fill-input {
  width: 100%;
}

/* Label per input */

/* Posizionamento iniziale della label con position: absolute */
/* Non so davvero perche con questi numeri funziona */
.my-label {
  position: absolute;
  margin-top: 5vh;
  top: 3vh;
  left: 7vw;
  color: transparent;
  pointer-events: none;
  transition: 0.2s ease all;
}

.stretch {
  width: 30%;
}

/* Icon i for input */

i {
  padding-right: 4.5vw;
  padding-bottom: 1.5vh;
  font-size: 20px;
}

/* Button */

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button-group button {
  width: 40%;
}

.my-btn {
  color: var(--text-color);
  border: none;
  padding: 2vh 5.2vw;
  border-radius: 16px !important;
  cursor: pointer;
}

.my-table {
  border-collapse: collapse;
  margin: 0 auto;
  display: table;
  width: 100%;
}

.my-table td {
  border: none;
}


/* tabella per elencare i game */

.my-table-games td {
  padding: 20px 10px;
}

.my-table-games td:first-child {
  width: 27%;
  text-align: left;
}

.my-table-games td:nth-child(2) {
  width: 50%;
  text-align: center;
}

.my-table-games td:nth-child(3) {
  width: 23%;
  text-align: right;
}

/* backgroud-colors */

.my-bg-success {
  background-color: var(--success-color);
}

.my-bg-error {
  background-color: var(--error-color);
}

.my-bg-primary {
  background-color: var(--primary-color);
}

.my-bg-secondary {
  background-color: var(--secondary-color);
}

.my-bg-tertiary {
  background-color: var(--tertiary-color);
}

.my-bg-disabled {
  background-color: var(--disabled-color);
}