@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html,
body {
  font-family: 'Sora', serif;
}

.paginator {
  padding: 4vh 10vw 0vh 10vw
}

.elegant-background {
  background-color: rgb(184, 184, 184);
  border-radius: 10px;
  padding: 2vh 5vw 2vh 5vw
}

/********************/
/* Basic components */
/********************/

.table {
  border-collapse: collapse;
  margin: 0 auto;
  display: table;
  width: 100%;
}

.table td {
  border: none;
}


/* tabella per elencare i game */

.table-games td {
  padding: 20px 10px;
}

.table-games td:first-child {
  width: 27%;
  text-align: left;
}

.table-games td:nth-child(2) {
  width: 50%;
  text-align: center;
}

.table-games td:nth-child(3) {
  width: 23%;
  text-align: right;
}